<div class="center">
  <!-- <img src="../assets/img/flower.jpg" class="responsive"> -->
  <div *ngIf="!startGame">
    <!-- <mat-spinner></mat-spinner> -->
    <form (ngSubmit)="onStart()" ngNativeValidate>
      <div class="center flex-col">
        <div>
          <mat-form-field>
            <input matInput placeholder="Enter Your Name" [(ngModel)]="player.playerName" name="player"
              [formControl]="name" class="flex-1" required>
          </mat-form-field>
        </div>
        <div>
          <button mat-button type="submit">Start Game</button></div>
      </div>

    </form>
  </div>
  <div *ngIf="startGame">
    <h3>{{question.question}}</h3>
    <div class="flex flex-col" *ngIf="player.result===''">
      <div class="flex-1 box" *ngFor="let choice of question.choices" (click)="onSelect(choice)">
        <h3>{{choice}}</h3>
      </div>
    </div>
    <div class="center" *ngIf="player.result==='Failed'">
      <img src="../assets/img/nohope.gif" class="responsive">

      <h3>Your result: {{totalMarks}} / {{questions.length}}</h3>
      <h3>{{displayMessage}}</h3>
      <div class="flex-1 box" (click)="onRetry()">
        <h3>我不相信！！！</h3>
      </div>
    </div>
    <div class="center" *ngIf="player.result==='Passed'">
      <img src="../assets/img/gothope.jpeg" class="responsive">

      <h3>恭喜你！你已经成功破解了无厘头无麻辣鸡的难题，荣登了英雄榜！</h3>
    </div>
  </div>
</div>
<router-outlet></router-outlet>