/* You can add global styles to this file, and also import other style files */
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

body{
    background-image: url("assets/img/AboveClouds.png");
    background-repeat: no-repeat;
  background-attachment: fixed;
    color:#ff5724;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Neucha', cursive !important;
    margin: 0; 
}

.mat-button, .mat-form-field,.mat-fab, .mat-flat-button, .mat-icon-button, .mat-mini-fab, .mat-raised-button, .mat-stroked-button{
    font-family: 'Neucha', cursive !important;
    font-size:20px
}

.flex{
display:flex;
justify-content: space-around;
flex-wrap: wrap;
}

.weather{
    overflow:auto
}

.responsive {
    max-width: 100%;
    height: auto;
  }

.weather:before, .weather:after{
    position: fixed;
}

.center{
    text-align: center;
    justify-content: center;
}

.flex-1{
    flex:1
}

.flex-row{
    flex-direction: row;
}


.flex-col{
    flex-direction: column;
}

.box{
    border: 2px solid #ff572278;
    margin: 2% 20%;
}

.box:hover{
    /* animation-name: example;
    animation-duration: 1s; */
    background: #e91e6370;
    color:white;
    transition: 0.5s;
}

@keyframes example {
    from {}
    to {background: #030351;
        color:white}
  }

  /* @media (max-width: 372px) { */
html, body { height: 100%; }
